<h2>Import from Marmiton</h2>

<form action="/marmiton/search" method="get">
 <div class="form-group">
    <div class="input-group">
      <label for="keyword" class="input-group-addon">What are you looking for?</label>
      <input class="form-control" placeholder="Title of the recipe" name="keyword" type="text">
    </div>
  </div>

  <input class="btn btn-primary" type="submit" value="Search">
</form>
